@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

body {
  /*background: #EBF7FF;*/
  background-image:url(city/city3.jpg);
  background-color:#EBF7FF;
  /*background-repeat:no-repeat;*/
  color: white;
  font-family: 'Roboto';
}
.flat-form {
  background-color:rgba(70,178,255,0.85);/*设置半透明背景颜色*/
  margin: 25px auto;
  width: 800px;
  height: 400px;
  position: relative;
  font-family: 'Roboto';
}
.tabs {
  background: #003F6D;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 20px;
  opacity:0.85;
}
.tabs li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
.tabs a {
  background: #003F6D;
  display: block;
  float: left;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 12px 22px 12px 22px;
  /*border-right: 1px solid @tab-border;*/

}
.tabs li:last-child a {
  border-right: none;
  width: 174px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.tabs a.active {
  background: #008CF0;
  border-right: none;
  -webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Roboto';
}

form input[type=text],
form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #000000;
  outline: none;
}

.dark-box {
  background: #5e0400;
  box-shadow: 1px 3px 3px #3d0100 inset;
  height: 40px;
  width: 50px;
}
.form-action .dark-box.bottom {
  position: absolute;
  right: 0;
  bottom: -24px;
}
.tabs + .dark-box.top {
  position: absolute;
  right: 0;
  top: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.button1 {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    width: 130px;
    color: #ffffff;
    text-align: center;
	margin-left:auto; 
	margin-right:auto;
    border-radius: 5px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.button1:hover {
  background: #197CB9;
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.button1:active {
  background: #136899;
  /*box-shadow: 0 3px 1px #0f608c;*/
}
.button2 {
    border: none;
    display: block;
	background:#C8C8C8;
    height: 40px;
    width: 130px;
    color: #ffffff;
    text-align: center;
	margin-left:auto; 
	margin-right:auto;
    border-radius: 5px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.button2:hover {
  background:#7B7B7B;
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.button2:active {
  background:#7B7B7B;
  /*box-shadow: 0 3px 1px #0f608c;*/
}

::-webkit-input-placeholder {
  color: #9AA0A3;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #9AA0A3;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #9AA0A3;
}
:-ms-input-placeholder {
  color: #9AA0A3;
}